{% extends 'super/home.html' %} {% block content %}
<div class="bg-yellow-200 flex gap-5 p-4">
  <div>Email: {{user.email}}</div>
  <div>Username: {{user.username}}</div>
</div>
<div>
  <table class="w-full text-left table-auto min-w-max text-slate-800">
    <thead class="sticky">
      <tr class="text-slate-500 border-b border-slate-300 bg-slate-50">
        <th class="p-4">
          <p class="text-sm leading-none font-normal">Sl</p>
        </th>
        <th class="p-4">
          <p class="text-sm leading-none font-normal">Title</p>
        </th>
        <th class="p-4">
          <p class="text-sm leading-none font-normal">Description</p>
        </th>
        <th class="p-4">
          <p class="text-sm leading-none font-normal">Assigned By</p>
        </th>
        <th class="p-4">
          <p class="text-sm leading-none font-normal">Remarks</p>
        </th>
        <th class="p-4">
          <p></p>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr class="hover:bg-slate-50">
        <td class="p-4">
          <p class="text-sm font-bold">{{forloop.counter}}</p>
        </td>
        <td class="p-4">
          <p class="text-sm">{{task.tasks.title}}</p>
        </td>
        <td class="p-4">
          <p class="text-sm">{{task.tasks.description}}</p>
        </td>
        <td class="p-4">
          <p class="text-sm">{{task.tasks.admin.username}}</p>
        </td>
        <td class="p-4">
          {% if task.status == "completed" %}
          <p class="text-sm">
            Time taken: {{task.worked_hours}}<br />Report:
            {{task.completion_report}}
          </p>
          {% else %}
          <p class="text-sm">{{task.status}}</p>
          {% endif %}
        </td>
        <td class="p-4"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
